body, h1, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #DDA0DD;
}

header {
    background-color: #4682B4;
    color: #F5FFFA;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 24px;
}

.profile-info, .profile-projects, .profile-contact {
    background-color: #C0C0C0;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 5px;
}

 {
    text-decoration: none;
    color: #000000;
}

a:hover {
    text-decoration: underline;
}